@mixin centering($position) {
  display: flex;
  @if ($position == "horizontal") {
    justify-content: center;
  }
  @else if ($position == "vertical") {
    align-items: center;
  }
  @else if (($position == "both")) {
    justify-content: center;
    align-items: center;
  }
}

// Media Queries
@mixin screenSize($size) {
  @if ($size == "tablet") {
    @media (max-width: 48em) {
      @content;
    }
  }
  @else if ($size == "mobile-L") {
    @media (max-width: 32em) {
      @content;
    }
  }
  @else if ($size == "mobile-M") {
    @media (max-width: 23em) {
      @content;
    }
  }
}