@use 'variables/colors' as *;
@use 'variables/other' as *;
@use 'helpers/mixins' as *;

.page__container.dashboard {
    .page__title {
      color: $font-color-primary;
      font-size: 3rem;
      width: fit-content;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
      }
      &::before {
        background-color: $white-color;
        width: 75%;
      }
      &::after {
        width: 30%;
        background-color: $font-color-primary;
      }
    }
    .add__account {
      @include centering("vertical");
      gap: 2rem;
      background-color: $white-color;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      padding: 2rem;
      margin: 2rem 0;
      .accounts {
        flex-grow: 1;
        @include centering("vertical");
        gap: 1.2rem;
        .account {
          min-width: 18%;
          @include centering("vertical");
          gap: 1rem;
          padding: 0.8rem 1rem;
          border-radius: $border-radius;
          color: $white-color;
          cursor: pointer;
          position: relative;
          .info {
            line-height: 1;
          }
          .icon {
            font-size: 2rem;
          }
          .account__name {
            color: rgba($color: $light-gray, $alpha: 0.9);
            margin-bottom: 6px;
          }
          .currency,
          .amount {
            font-size: 1.2rem;
            font-weight: 600;
          }
          .edit {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1.2rem;
            color: rgba($color: $light-gray, $alpha: 0.9);
            opacity: 0;
            pointer-events: none;
            transition-duration: $transition-duration;
            &:hover {
              color: $white-color;
            }
          }
          &:hover .edit {
            opacity: 1;
            pointer-events: auto;
          }
          @include screenSize("mobile-M") {
            min-width: 25%;
          }
        }
        .add__account-btn {
          min-width: 18%;
          padding: 1.335rem 1rem;
          @include screenSize("mobile-M") {
            min-width: 25%;
          }
        }
      }
    }
}