$bg-color-primary: #f3f3f3;
$accounts-bg: #f7f7f7;
$font-color-primary: #444;
$color-primary: #5ec576; /*#12C38A*/
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d; 
$color-secondary-darker: #ffbb00;
$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
$white-color: #fff;
$sidebar-text-color: #707070;
$dark-gray: #888;
$light-gray: #dbdbdb;
$account-type-color: #aaa;