.head
  button(class="new__record btn")
    <i class="fa-solid fa-plus icon"></i>
    | New Record 
  .user__info
    img(src="static/images/user-image.jpg", class="user__image", alt="user image")
    h3(class="username") Kiyomi Dev