@use 'variables/colors' as *;
@use 'variables/other' as *;
@use 'helpers/mixins' as *;
@use 'layout/animations';  

.page__container {
  > .head  {
    @include centering("vertical");
    background-color: $white-color;
    height: 5.7rem;
    width: calc(100% - 24rem);
    margin-left: auto;
    padding: 1rem 2rem;
    box-shadow: $box-shadow;
    transition: $transition-duration ease;
    .new__record {
      @include centering("vertical");
      gap: 0.5rem;
      font-size: 1.3rem;
      padding: 0.5rem 2rem;
      color: $font-color-primary;
      margin: 0 3rem 0 4.75rem;
      transition: $transition-duration ease;
      @include screenSize("mobile-M") {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin: 0 1.2rem 0 3rem;
      }
    }
    .user__info {
      @include centering("vertical");
      gap: 0.7rem;
      margin-left: auto;
      .user__image {
        max-width: 3.7rem;
        border-radius: 1rem;
      }
      .username {
        color: $font-color-primary;
        font-size: 1.3rem;
      }
    }
  }
}

.page__container.sidebar-closed {
  > .head {
    width: calc(100% - 7rem);
    .new__record {
      margin: 0;
    }
  }
}