@use 'variables/colors' as *;
@use 'variables/other' as *;
@use 'helpers/mixins' as *;
@use 'layout/helper-classes' as *;
@use 'layout/animations';  

.page__container {
  display: flex;
  .sidebar {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    width: 24rem;
    z-index: 999;
    padding: 0 2rem 1.5rem 2rem;
    background-color: $white-color;
    box-shadow: $box-shadow;
    transition: $transition-duration ease;
    .head {
      @include centering("both");
      line-height: 0;
      padding: 1.5rem 0;
      height: 5.7rem;
      position: relative;
      .menu__icon {
        font-size: 2.4rem;
        color: $font-color-primary;
        line-height: 0;
        cursor: pointer;
      }
      .open__menu {
        position: absolute;
        left: calc(100% + 4rem);
      }
      .nav__logo {
        max-width: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: calc(100% + 4rem);
        background-color: #dbdbdb;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: $transition-duration ease;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100% - 5.7rem);
      transition: $transition-duration ease;
      .sidebar__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 4rem;
        .item {
          padding: 0.8rem 0;
          transition: $transition-duration ease;
          position: relative;
          .link {
            width: 100%;
            @include centering("vertical");
            @extend %sidebar-text;
            text-decoration: none;
            transition: $transition-duration ease;
          }
          .icon {
            font-size: 1.7rem;
            min-width: 5.5rem;
            text-align: center;
          }
          .tooltip {
            visibility: hidden;
          }
          &:hover {
            background-color: $bg-color-primary;
            border-radius: $border-radius;
          }
          &.logout .icon {
            transform: rotate(180deg);
          }
        }
        &.bottom {
          padding-top: 10px;
          margin-top: auto;
          position: relative;
          .mode{
            @include centering("vertical");
            @extend %sidebar-text;
            position: relative;
            .mode-text {
              width: 8.363rem;
            }
          }

          &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: calc(100% + 4rem);
            background-color: #dbdbdb;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: $transition-duration ease;
          }
        } 
        /* START CREATE TOGGLE BUTTON */
        .switch {
          position: relative;
          display: inline-block;
          width: 4.6rem;
          height: 2rem;
          margin-left: auto; 
          transition: $transition-duration ease;
        }

        .switch input {
          display: none;
        }

        .slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $white-color;
          transition-duration: $transition-duration;
          border-radius: 50px;
          cursor: pointer;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 1.4rem;
          width: 1.4rem;
          top: 50%;
          transform: translate(4px, -50%);
          background-color: $white-color;
          transition: $transition-duration ease;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: $light-gray;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px $light-gray;
        }

        input:checked + .slider:before {
          transform: translate(2.5rem, -50%);
        }
        /* END CREATE TOGGLE BUTTON */
      }
    }
    .text {
      transition: $transition-duration ease;
    }
  }
}

.page__container.sidebar-closed {
  .sidebar {
    width: 7rem;
    padding: 0 1rem 1.5rem 1rem;
    .wrapper {
      overflow-x: hidden;
    }
    .link {
      justify-content: space-between;
    }
    .head::after,
    .sidebar__list.bottom::before {
      width: calc(100% + 2rem);
    }
    .mode__icon {
      cursor: pointer;
    }
    .mode-text {
      font-size: 0;
      width: 0;
    }
    .icon {
      min-width: 5rem !important;
    }
    .tooltip {
      position: fixed;
      transform:translate(6.2rem, -2rem);
      background: $white-color;
      box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
      padding: 0.6rem 1.2rem;
      border-radius: $border-radius;
      font-size: 1.5rem;
      font-weight: 500;
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      transition: $transition-duration ease;
  }
  .item:hover .tooltip  {
    transform:translate(6.2rem, 0rem);
    opacity: 1;
    visibility: visible !important;
  }
  }
  .text {
    transition: 0s;
    opacity: 0;
  }
}

%sidebar-text {
  color: $sidebar-text-color;
  font-size: 1.5rem;
  font-weight: 500;
}