doctype html
html(lang="en")
  head 
    include components/inhead
    title Dashboard
  body
    .page__container.sidebar-closed
      include components/sidebar
      include components/head
    script(src="js/general.js") 